# Banco de Dados Local (Dados Sensíveis e Chaves)
vizinhanca.db

# Pastas de Upload (Certificados e PDFs)
certificados/

# Python (Arquivos temporários e compilados)
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Configurações do VS Code
.vscode/